<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="GroceryDbConnection" connectionString="Host=172.20.7.53;Database=db2991_14;Username=st2991;Password=pwd2991;SearchPath=grocery_store" providerName="Npgsql" />
	</connectionStrings>
</configuration>